/*App.css*/
.section-container { 
  width: 1300px;
  margin: auto;
}

.title,
.para {
  font-family: Arial, sans-serif; /* Police sûre */
  word-spacing: 0.3em;            /* Ajoute un espace entre les mots */
  letter-spacing: normal;          /* Espacement normal des lettres */
  white-space: normal;             /* Permet le retour à la ligne */
  line-height: 1.6;                /* Hauteur de ligne pour lisibilité */
  font-weight: 600;
}



@media only screen and (max-width: 1600px) {
  .section-container {
    width: 1200px;
    max-width: calc(100% - 160px);
  }
}

@media only screen and (max-width: 1400px) {
  .section-container {
    width: 900px;
  }
}

@media only screen and (max-width: 900px) {
  .section-container {
    width: 500px;
    max-width: var(--cWidth);
  }
}
